[Desktop Entry]
Type=Application
Name=wxNote
GenericName=Text Editor
Comment=Experimental cross-platform Notepad++-faithful editor
Exec=wxnpp %F
Icon=io.github.Alpaq92.WxNote
Terminal=false
Categories=Utility;TextEditor;Development;
MimeType=text/plain;
