[Desktop Entry]
Type=Application
Name=wxNote
GenericName=Text Editor
Comment=Experimental cross-platform text editor
Exec=wxnote %F
Icon=io.github.Alpaq92.WxNote
Terminal=false
Categories=Utility;TextEditor;Development;
MimeType=text/plain;
